.card-title {
    font-weight: bolder;
    font-size: 1.8rem;
    text-align: center;
}

.card-subtitle {
    font-size: 1.3rem;
   
}

.img-center {
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}